html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #2196F3;
    --bgc: #ffffff;
    --second-text-color: #757575;
    --primary-text-color: #212121;
}

/* Utility */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


/* container */
.container {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 0px;
}

/* text */
.text {
    color: var(--second-text-color);
}

.text-f {
    color: rgba(255, 255, 255, 0.6);
}

.text-f:hover,
.text-f:focus {
    color: var(--accent-color);
}

/* body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--bgc);
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    margin: auto auto;
}

/* hero */
.hero {
    overflow: auto;
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    color: var(--bgc);
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-photo.jpg");
}

/* HERO button settings */

.hero-button {
    width: 216px;
    height: 50px;
    border-radius: 4px;

    margin-bottom: 200px;
    margin-top: 30px;
    padding: 10px 24px;
    border: none;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.88;
    letter-spacing: 0.04em;
    font-size: 16px;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--bgc);
}

.hero-title {
    font-weight: 900;
    height: 120px;
    margin-top: 200px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/* logo */
.logo {
    width: 145px;
    margin-right: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    color: #000000;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);
}

/* removes the underscore from all links */
a {
    text-decoration: none;
    color: inherit;
}

.link:focus,
.link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}

/* header email and phone  */

.icon-email {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
}

.link.email:hover .icon-email {
    fill: var(--accent-color);
}

.link.email:focus .icon-email {
    fill: var(--accent-color)
}

.icon-phone {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
}

.link.phone:hover .icon-phone {
    fill: var(--accent-color);
}

.link.phone:focus .icon-phone {
    fill: var(--accent-color)
}


/* deletes the marker */
ul {
    list-style: none;
}

.title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
}

/* site-nav */

.site-nav,
.main-nav {
    display: flex;
}

.main-nav {
    align-items: center;
    height: 80px;
}

.contact {
    margin-left: auto;
}

.item>a {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.item:first-child {
    margin-left: 93px;
}

.item:not(:last-child) {
    margin-right: 50px;
}

/* Regular Customers */

.rc-section {
    padding-top: 94px;
    background-color: #ffffff;
    padding-bottom: 94px;

}

.title-rc {
    margin-bottom: 50px;
}

.list-rc {
    display: flex;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.list-rc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
}

.list-rc-margin-r {
    margin-right: 30px;
}

.rc-client {
    fill: #afb1b8;
}
 
.list-rc-item:hover .rc-client {
    fill: var(--accent-color);
}

.list-rc-item:focus .rc-client {
    fill: var(--accent-color);
}

.list-rc-item:hover,
.list-rc-item:focus {
    border-color: var(--accent-color);
}

.list-rc-item:last-child {
    margin-right: 0px;
}

/* .list-rc-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */





/* footer */

/* footer links */

.social-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
}

.social-link-footer:hover {
    background-color: var(--accent-color);
}

.social-link-item a:focus .social-link-footer {
    background-color: var(--accent-color);
}

/* footer links */

.footer-container {
    display: flex;
}

.footer {
    background-color: #2F303A;
    min-height: 251px;
    max-width: none;
    min-width: 1230px;
    overflow: auto;
    padding-bottom: 60px;
}

.footer-list {
    padding-left: 0;
    margin: 0;
    margin-top: 14px;
}

.logo-footer {
    margin-top: 36px;
    display: block;
    color: #ffffff;
}

.address-footer,
.address-footer>a {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

/* join us */

.section-join-us {
    margin-left: 70px;
    margin-top: 72px;
}

.title-join-us {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-links-list.footer-join-us {
    padding: 0;
    margin: 0;
}

.social-links-list.footer-join-us>li {
    background: rgba(255, 255, 255, 0.1);
}

.social-links-list.footer-join-us>li:hover,
.social-links-list.footer-join-us>a:focus {
    background: var(--accent-color);
}

/* flex */

.flex-b {
    display: flex;
    margin-top: 115px;
    margin-bottom: 118px;
}

.flex-title-b {
    margin-bottom: 10px;
}

/* .flex-title-b::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
} */

/* .flex-item-b:nth-child(1) ::before {
    background-image: url("../images/suputnic.svg");
    background-size: 65.32 70;
}

.flex-item-b:nth-child(2) ::before {
    background-image: url("../images/timer.svg");
    background-size: 66.96 70;
}

.flex-item-b:nth-child(3) ::before {
    background-image: url("../images/notebook.svg");
    background-size: 70 53.69;
}

.flex-item-b:nth-child(4) ::before {
    background-image: url("../images/astronaut.svg");
    background-size: 70 70;
} */

/* SVG-setup */

/* Benefits-section */

.icon-item-b {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.icon-item {
    margin: auto;
}

/* Our team section */

/* instagram */

.social-link-ot {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #afb1b8;
}

.link-ot {
    margin: auto;
}

.social-link-ot:hover {
    background-color: var(--accent-color);
    fill: #ffffff;
}

.social-link-item a:focus .social-link-ot {
    background-color: var(--accent-color);
    fill: #ffffff;
}

.flex-item-b {
    width: 270px;
}

.flex-item-b:not(:last-child) {
    margin-right: 30px;
}


.hide {
    display: none;
}

/* What we do */

.flex {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    margin-top: 0px;
}

.wwd-section {
    background-color: #ffffff;
}

.flex.wwd {
    padding: 94px 0;
    margin-bottom: 0;
}

.flex-item-wwd:not(:last-child) {
    margin-right: 30px;
}

.title.title-wwd {
    margin-bottom: 50px;
}

/* Our team */

.our-team-section {
    background-color: #F5F4FA;
}

.flex.ot {
    margin-bottom: 0px;
}

.title.title-ot {
    padding-top: 94px;
    margin-bottom: 50px;
}

.flex-item-ot:not(:last-child) {
    margin-right: 30px;
}

.social-links-list {
    display: flex;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}


.social-link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.social-link-item img {
    display: block;
    margin: 0 auto;
}

.social-link-item:not(:last-child) {
    margin-right: 10px;
}

.flex-text {
    margin-bottom: 30px;
}

.flex-item-ot {
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 94px;
    background-color: #ffffff;
}

.header-ot {
    margin-top: 30px;
    margin-bottom: 10px;
}


/* portfolio */

.nav-list {
    border: none;
    border-radius: 4px;
    letter-spacing: 0.03em;
    line-height: 1.63;
    padding: 6px 22px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;

    text-align: center;
    color: var(--primary-text-color);
}

.nav-list:hover,
.nav-list:focus {
    background-color: var(--accent-color);
    color: var(--bgc);
}

/* text-portfolio */

.img-portfolio {
    display: block;
}

.text-p {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.88;
    font-weight: 400;
    margin: 0px 24px 20px 24px;
}

.text-p-h {
    margin: 20px 24px 4px 24px;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.04em;
}

/* portfolio contaiter list */

.container-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 0px;
}

.container-list-item:not(:last-child) {
    margin-right: 8px;
}

.container-margin {
    margin-top: 94px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 94px 0px;
    padding: 0px;
}

.list-container-item {
    width: calc((100% - 60px) /3);
    margin: 0px 30px 30px 0px;
    border: 1px solid #eeeeee;
}

.list-container-item:hover,
.list-container-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.list-container-item:nth-child(3n) {
    margin-right: 0px;
}

.list-container-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}



























/* Псевдо-елементи (before/after) */

/* .email::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;

    width: 16px;
    height: 12px;
    margin-right: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/email.svg");
} */

/* .phone::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;

    width: 10px;
    height: 16px;
    margin-right: 10px;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/phone.svg");
} */


/* :root {
    --bgc-white: white;
    --text-color-black: black;
}

/* h1::first-letter {
    font-size: 40px;
}

h1::selection {
    color: #ffffff;
    background-color: #3f51b5;
  }